@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #02131f;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes float {
  0%,
  100% {
    transform:
      translate(-50%, -50%)
      translateY(0px);
  }

  50% {
    transform:
      translate(-50%, -50%)
      translateY(-12px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes markerPulse {
  0%,
  100% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.25);
  }
}

.animate-marker {
  animation:
    markerPulse 2s ease-in-out infinite;
}